@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    height: 1000px;
}

*{
    padding: 0;
    margin: 0;

}
div{
    display: flex;
    box-sizing: border-box;

}
.container{
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 40px;
}
.navbar{
    flex-direction: row;
    width: 80%;
    height: 90px;
    margin-top: 40px;
    justify-content: center;
    gap: 120px;
    align-items: center;
    background-color: #131A2F;

}
.navbar img{
    height: 50px;
    width: 50px;
}

.logotext{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    
}

.lt{
    flex-direction:column;
}

.navtext{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    transition: 0.4s;
}

.navtext:hover{
    color: #d61c22;
}

.logo{
    flex-direction: column;
}

.container .title{
    font-family: Montserrat;
    font-weight: bolder;
    margin-top: 120px;
    color:#fdaa27;
    letter-spacing: 2px;
    font-size: 90px;
    margin-right: 50px;

}

.second_part{
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.second_part .info{
    margin-top: 30px;
    margin-left: 60px;
    height: 500px;
    width: 40%;
flex-direction: column;

}

.second_part .form{
    margin-left: 150px;
    margin-top: 30px;
    height: 500px;
    width: 40%;
    flex-direction: column;
}

.second_part .info .address{
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
}
.second_part .info .phone{
    flex-direction: column;
    margin-top: 10px;
    margin-left: 100px;
}
.second_part .info .email{
     flex-direction: column;
     margin-top: 10px;
     margin-left: 100px;
}
.second_part .info span{
    margin-left: 200px;
    font-weight: 500;
    color: black;
    font-family: Poppins;
    font-size: 20px;
}
.second_part .form .input_name{
    margin-top: 40px;
    margin-left: 100px;
    height: 30px;
    width: 200px;
    
}
.second_part .form .input_email{
    margin-top: 40px;
    margin-left: 100px;
    height: 30px;
    width: 200px;
    
}
.second_part .form .message{
    margin-top: 40px;
    margin-left: 100px;
    
    

}
.second_part .form .subject{
    margin-top: 40px;
    margin-left: 100px;
    height: 30px;
    width: 200px;
 
}


.second_part .info .hello{
    margin-top: 20px;
    font-family: Montserrat;
    color: black;

}


.footer{
    width: 100%;
    height: 390px;
    background-color: #080d1d;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    gap :170px;

}


.socials{
    flex-direction: column;
    height: 300px;
     width: 250px;
     justify-content: center;

}
.logon{
     flex-direction: row;
     align-items: center;
     margin-bottom: 27px;


}
.logon span{
    color: white;
    font-family:  Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;

}

.socials p{
    color: #aab1b7;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 10px;

}


.soclogos{
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 90px;
    margin-left: 10px;


}
.soclogos img{
    height: 20px;
    width: 20px;
}

.footerinfo{
    flex-direction: column;
    height: 300px;
    width: 250px;
    align-items: center;

}

.footerinfo span{
    font-family: Montserrat;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    margin: top 45px;
    letter-spacing: 2px;


}

.footerinfo p{
    color:#aab1b7;
    font-size: 16px;
    margin-top: 20px;

}
.helpinfo span{
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 37px;
    
}
.helpinfo{
    flex-direction: column;
    height: 300px;
    width: 250px;
    align-items: center;
}

.helpinfo p{
    font-size: 16px;
    color:#AAB1B7; 
}